body {
  max-width: 800 px;
  margin: 30px;
  display: block;
  text-align: center;
}

.navigation-panel {
  text-decoration: none;
}

.homepage-h1 {
  font-size: 90px;
}

.homepage-h3 {
  font-size: 30px;
}

ul {
  list-style: none;
  font-size: 18px;
  text-align: left;
}

img {
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
