body {
  max-width: 800 px;
  display: block;
  margin: 40px 20px 40px 20px;
  text-align: center;
}

.navigation-panel {
  text-decoration: none;
  margin-bottom: 40px;
}

.homepage-heading {
  font-size: 60px;
  margin-top: -20px;
}

ul {
  list-style: none;
  font-size: 18px;
}

li {
  margin: 20px;
}

img {
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  width: 415px;
}

.love-to-hear-from-you {
  color: rgba(0, 0, 0, 0.7);
}
