body {
  max-width: 800 px;
  display: block;
  margin: 40px 20px 40px 20px;
  text-align: center;
  background-color: #f3e9ce;
  color: #a07758;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  font-size: 18px;
}

li {
  margin: 20px;
}

img {
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  width: 415px;
}

.navigation-panel {
  margin-bottom: 40px;
}

.navigation-panel a {
  text-decoration: none;
  color: #377e84;
  margin: 0 10px;
}

.navigation-panel a:hover {
  color: #245459;
}

.homepage-heading {
  font-size: 60px;
  color: #942d18;
}

.photo-heading {
  color: #942d18;
}

.contact-heading {
  color: #942d18;
}

.croissant-emoji {
  font-size: 50px;
}

.heart-emoji {
  font-size: 50px;
}

.email {
  text-decoration: none;
  color: #377e84;
}

.email:hover {
  color: #245459;
  text-decoration: underline;
}
